<html>
<head>
  <meta charset="UTF-8">
  <title>CS 416 Final Project Alex Che</title>
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="https://rawgit.com/susielu/d3-annotation/master/d3-annotation.min.js"></script>
  <script src="../scripts.js"></script>
  <link rel="stylesheet" href="../styles/main.css">

</head>
<body onload="chart3()">
  <div class="container">
    <h1 class="title">How are People Respond to Wearing Masks in Public?</h1>
    
    <p>
      This page will show you how did people respond from each state about wearing a mask in public during the pandemic. 
      Specifically, each participant was asked: 'How often do you wear a mask in public when you expect to be within six feet of another person?'
      NEVER: The estimated share of people in this county who would say never in response to the question<br>
      RARELY: The estimated share of people in this county who would say rarely<br>
      SOMETIMES: The estimated share of people in this county who would say sometimes<br>
      FREQUENTLY: The estimated share of people in this county who would say frequently<br>
      ALWAYS: The estimated share of people in this county who would say always<br>


    <p> &#8505;  Select a state from the drop down menu to see how the response distrubute
      across states. Hover over any of the Bars to see the % of each catagory.
    </p>

    <select id="select-state"></select>
    <p><br></p>

    <div id="chart3"></div>
    <a class="btn btn-primary btn-s" href="page3.html" role="button">Previous</a>
    <a class="btn btn-primary btn-s" href="../index.html" role="button">First Slide</a>
  </div>

</body>
</html>