<html>
<head>
  <meta charset="UTF-8">
  <title>CS 416 Final Project Alex Che</title>
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="https://rawgit.com/susielu/d3-annotation/master/d3-annotation.min.js"></script>
  <script src="../scripts.js"></script>
  <link rel="stylesheet" href="../styles/main.css">

</head>
<body onload="chart9()">
  <div class="container">
    <h1 class="title">Covid Cases and Use of Masks</h1>
    
    <p>
      From social media, government and our education program. We were told that uses of 
      masks can help us stay away from the COVID-19 virus, but it also help us stop spreading it.

      
      However we see that this relationship isn't perfect with many outliers and exceptions. 
      We see that New York and California lost significantly more jobs compared to states with similar numbers of cases. 
      There were also two states that gained jobs during the Covid-19 Pandemic.<br>
      Keep in mind that a negative job loss number & rate means the state gained jobs. The size of the circles are plotted proportional 
      to the states poplation size, with higher populations resulting in a larger circle.<br>
      <p> &#8505;  Hover over a data point to reveal a tooltip with additional information</p>
     

    </p>

    <div id="chart9">

      
    </div>

    <a href="../index.html" class="back-button">Back</a>
    <a href="page3.html" class="next-button">Next</a>
  </div>

</body>
</html>