<html>
<head>
  <meta charset="UTF-8">
  <title>CS 416 Final Project Alex Che</title>
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="https://rawgit.com/susielu/d3-annotation/master/d3-annotation.min.js"></script>
  <script src="../scripts.js"></script>
  <link rel="stylesheet" href="../styles/main.css">

</head>
<body onload="chart2()">
  <div class="container">
    <h1 class="title">What about Deaths in relation to Positive COVID-19 Cases?</h1>
    
    <p>
      Let's look at the very basic information from our COVID-19 data, before doing any analysis, 
      we would like to know the relationship between positive cases and the death caused by this virus.<br>
      From this visual, we can see that there are a positive relation between the two fields and as expected, 
      higher the population, the higher a state would be on the positive case / death chart<br>
      Note: The colors represent regions and the sizes of the circles represent the populations
      of the states<br>
      <p> &#8505;  Hover over a data point to reveal a tooltip with additional information</p>
     
    </p>

    <div id="chart2"></div>
    <a class="btn btn-primary btn-s" href="page2.html" role="button">Previous</a>
    <a class="btn btn-primary btn-s" href="page4.html" role="button">Next</a>
  </div>

</body>
</html>